GitPython
MontagePy
PyYAML
astropy
breathe
graphviz
ipyplot
javasphinx
jupyter
jupyterlab
matplotlib
networkx
pandas
pydot
pygraphviz
recommonmark
six
sphinx
sphinx_rtd_theme
sphinxcontrib-openapi
tox
wand
web-pdb
wheel
