ImageMagick
R
R-devel
ant
ant-apache-regexp
ant-junit
automake
bash-completion
bc
boost169-devel
bzip2
bzip2-devel
ca-certificates
cmake3
cryptsetup
devtoolset-9
doxygen
file
gcc
gcc-c++
gcc-gfortran
gdb
git
git-lfs
gnupg
golang
graphviz
graphviz-devel-2.30.1-22.el7.x86_64
hwloc
hwloc-devel
inotify-tools
iptables
java-1.8.0-openjdk
java-1.8.0-openjdk-devel
jansson
lib*san
libffi-devel
libjpeg-turbo-devel
libseccomp-devel
libtool
libuuid-devel
lxc
make
mariadb-devel
mariadb-server
mpich-devel
munge
munge-devel
mysql-devel
numactl-devel
openjpeg-devel
openssl-devel
osg-ca-certs
osg-wn-client
patch
perl
pkg-config
postgresql-devel
psmisc
python-devel
python-pip
python36
python36-GitPython
python36-PyYAML
python36-devel
python36-future
python36-pika
python36-pip
python36-pyOpenSSL
python36-pytest
python36-setuptools
readline-devel
rpm-build
sqlite-devel
squashfs-tools
sudo
tar
unzip
vim
vim-enhanced
wget
which
yum-plugin-priorities
zlib-devel
